#header{
  width: 100%;
  display: flex;
  position: fixed;
  margin-bottom: 400px;
  }

#navlink{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  font-size: 30px;
  
}

#navbar{
  width:100%;
  margin: 0%;
  padding: 0%;
  background: #e4f5f0;
  position: fixed;
  top: 0%;
  height: 100px;
  
}

li a{
  text-decoration: none;
}

/* End of nav bar*/

#welcome-section{
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 200px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  background:url("https://cdn.pixabay.com/photo/2020/01/16/10/13/mountain-and-sea-4770131_960_720.jpg");
  background-image: no-repeat;
  background-size: 100%;
  
}


 


body{
  overflow-x:hidden;
  background-color: black;
  background:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-image:no-repeat;
  background-size:100%;

}


.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 4rem;
  justify-content: center;
  /*margin: 100px 500px 100px 500px; */

  
  }

.item{
  width: 600px;
  height: 600px;
  margin:-35px -35px -35px -35px; 
  padding-top: 10px;
  padding-bottom:10px;
  margin: 10px;
  ;


  /*width:100%;
  height:auto;
  margin: 10px;
  padding: 10px;
  margin:5px;
  /*justify-content: space-around;
  object-fit: cover;*/
}

.social-icon{
  width: 50px;
  height: 50px; 
}

#profile-link{
  margin: 10px 5px 20px 5px; 
  padding: 0;
  font-size: 15px;
  font-family: monospace;
  display:flex;
  justify-content: space-around; 
  align-items: center;
 
}

.text{
  font-size:25px;
  font-family: arial;
  color:#ebf2ef;
  text-align: center;
  margin:5px;
}

.profile{
  /*background:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-image: no-repeat;
  background-size: 100%;*/
  margin:5px;
}
a{
  text-decoration: none;
}
/*

@media screen and (max-width: 992px) {
  footer{
    background-color: blue;
  }*/